header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: #f2cef2;
}

.content {
    display: flex;
    justify-content: center;  
  }

.container--left {
    margin-right: 50px;
    margin-left: 20px;
    border: solid black 2px;
}

.container--right {
    margin-left: 50px;
    margin-right: 20px;
    border: solid black 2px;
}

.fishList {
    font-weight: bold;
    margin: 20px;
}
.fish__image {
    height: 18em;
}

.quotes {
    margin: 20px;
    font-weight: bold;
}

.locations {
    font-weight: bold;
    margin: 20px;
}

.location__image {
    height: 18em;
}